* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Larsseit";
  src: local("fonts"), local("fonts"),
    url("fonts/Larsseit-Light.woff2") format("woff2"),
    url("fonts/Larsseit-Light.woff") format("woff"),
    url("fonts/Larsseit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

body {
  font-family: Larsseit;
  background-color: #18181f;
}

.button {
  font-size: 12px;
  padding: 12px 16px;
  border: 1px solid #586c73;
  border-radius: 100px;
}

.wrapper {
  max-width: 1300px;
  margin: 62px auto;
  padding: 15px;
}

.header {
  margin-bottom: 93px;
  width: 100%;
}

.header__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #586c73;
}

.header__img {
  object-fit: contain;
}

.header__words_active {
  color: #ffffff;
  background-color: transparent;
  border-color: #586c73;
}

.header__module_active {
  background-color: #ffffff;
  color: #1e2537;
}

.main__list {
  display: flex;
  /* flex-wrap: wrap; */
  column-gap: 25px;
  /* row-gap: 25px; */
}

.main__item {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 416px;
  width: 33%;
  cursor: pointer;
}

.main__item:hover {
  opacity: 0.6;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease 0s;
}

.overlay.is-open {
  pointer-events: all;
  opacity: 1;
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #333339;
  box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  padding: 36px;
  width: 40%;
  pointer-events: none;
  opacity: 0;
}

.modal-container.is-open {
  pointer-events: all;
  opacity: 1;
}

.modal-content {
  width: 100%;
}

.modal-content__header {
  display: flex;
  justify-content: space-between;
  color: #989898;
  padding-bottom: 30px;
}

.modal-content__close {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.modal-content__main {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  row-gap: 12px;
}

.modal-content__input {
  margin-bottom: 24px;
}

.input {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #4c575a;
  border-radius: 4px;
  padding: 14px;
  width: 92%;
}

.model-content__description {
  resize: none;
  height: 84px;
}

.modal-content__footer {
  display: flex;
  justify-content: end;
  column-gap: 12px;
}

.modal-content__cancel {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(88, 108, 115, 0.56);
}

.modal-content__add {
  background-color: #46ecba;
  color: black;
}
