* {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

button {
  cursor: pointer;
  width: max-content;
}

ul {
  list-style-type: none;
}

.custom-button {
  background-color: transparent;
  border: 1px solid #60c1ba;
  border-radius: 4px;
  color: #2d6776;
  font-weight: 600;
  padding: 20px 28px;
  width: 100%;
}

.card {
  background: #ffffff;
  box-shadow: 0px 2px 8px 2px rgba(192, 192, 192, 0.6);
  border-radius: 8px;
  padding: 36px 32px;
}

h1 {
  margin-bottom: 80px;
}

.wrapper {
  max-width: 1000px;
  margin: 80px auto;
}

main {
  display: flex;
  align-items: flex-start;
  column-gap: 25px;
}

.left-coloumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.left-coloumn__head {
  display: flex;
  padding: 35px;
  border: 1px solid #60c1ba;
  border-radius: 8px;
  color: #2d6776;
  align-items: center;
  justify-content: space-between;
}

.head__href a {
  color: #60c1ba;
  font-size: 16px;
}

.head__href p {
  margin-top: 15px;
  margin-right: 40px;
}

.ul2 a {
  color: #2d6776;
}

.left-coloumn__head button {
  font-size: 12px;
  color: #2e6978;
  background: #d6f3f2;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 6px 12px;
}

.left-coloumn__main h2 {
  border-bottom: 0.5px solid #c0c0c0;
  padding-bottom: 15px;
}

.item {
  display: flex;
  width: 100%;
}

.item__title {
  width: 45%;
  font-weight: 600;
}

.uls_up {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #c0c0c0;
}

li {
  padding-bottom: 35px;
  width: 100%;
}

.ul1 {
  width: 100%;
}

.item__required {
  color: red;
}

.item__hint {
  color: #c4c4c4;
}

.uls_up {
  display: flex;
}

.ul1 {
  margin-right: 90px;
}

.last_li {
  margin-bottom: 35px;
}

.uls_down {
  padding-top: 35px;
  font-weight: 600;
}

.rating {
  display: flex;
  column-gap: 4px;
}

.rating__item {
  width: 12px;
  height: 12px;
  background-color: #eaebeb;
  border-radius: 100%;
}

.rating__item_active {
  background-color: #60c1ba;
}

.card_row {
  display: flex;
}

.L-C__footer {
  margin-left: 30px;
}

.L-C__footer p {
  font-size: 12px;
  margin-bottom: 5px;
}

.p {
  color: #c0c0c0;
}

.L-C__foot {
  margin-top: 25px;
}

.L-C__foot button {
  background: #f4f7f6;
  border: 0px;
  border-radius: 8px;
  padding: 10px;
}

.right-coloumn {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 2px rgba(192, 192, 192, 0.6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
}

.custom-button_delete {
  color: #e91e63;
  border-color: #e91e63;
}
